body {
  box-sizing: border-boxx;
  margin: 0px;
  background-color: black;
  color: white;
}
main {
<<<<<<< HEAD
  width: 100%;
  height: calc(100vh - 210px);
  box-sizing: border-box;
=======
  width: 100vh;
  height: calc(100vh - 210px);
>>>>>>> babdbb73e48f2bbf0435e5f23951b50a99af3a88
}
header {
  height: 60px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}

footer {
  height: 150px;
  width: 100%;
  border: solid;
  border-color: white;
}
.login-btn {
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  font-weight: 750;
  transition: 300ms ease-in-out;
  &:hover {
    background-color: rgb(241, 60, 60);
    color: whitesmoke;
    display: grid;
    grid-row: 1fr 1fr;
  }
}

.list-container {
  display: flex;
  height: 250px;
  overflow-y: scroll;
  flex-direction: column;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: rgb(26, 26, 26);
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  h2 {
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: flex;
      font-size: large;
      font-weight: bold;
      justify-content: space-between;
      list-style-type: none;
      padding: 10px;
      border: 1px solid white;
      margin: 10px 0;
    }
  }
}
